@import "tailwindcss";

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: #020617; /* current dark navy  */
  color: white;
}

html.light {
  background-color: #f8f9fa; /* soft light background */
  color: #111;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}
